@font-face{
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa-Light.ttf') format('opentype');
    font-weight: 300;
}

@font-face{
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa-Medium.ttf') format('opentype');
    font-weight: 600;
}

@font-face{
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa-SemiBold.ttf') format('opentype');
    font-weight: 700;
}