$primary-colour: #222222;
$body-padding: 1rem;

$body-padding: 1rem;
$heading-font-size: 100%;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-primary: 'AvenirNext LT Pro', sans-serif;
$color-dark: #323232;
$color-silver: #AFAFAF;
$color-white:#FFFFFF;
$color-dark-sec: #000000;
$color-mercury-sec: #E1E1E1;
$color-Alabaster-sec:#FAFAFA;
