body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/Comfortaa-Light.ttf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/Comfortaa-Medium.ttf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../assets/fonts/Comfortaa-SemiBold.ttf") format("opentype");
  font-weight: 700;
}
/* Global styles */
body {
  font-family: "Comfortaa";
  background-image: linear-gradient(to bottom, #9370db, #c17dbf, #ffffff);
  color: #222222;
}

/* Main section */
.main {
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: 2.5rem;
}

/* Hero section */
.trivia {
  margin: 16px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  .trivia {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .trivia {
    width: 60%;
  }
}

.head {
  font-size: 1.125rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #222222; /* Assuming $primary-colour is defined elsewhere */
}

#correct-score {
  font-weight: 700;
}

.body__question {
  text-align: center;
  font-size: 18px;
  padding: 16px;
}

.body__options {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__options li {
  font-family: "Comfortaa";
  list-style-type: none;
  width: 70%;
  margin: 1rem 0rem;
  padding: 1.25rem;
  font-size: 1.125rem;
  text-align: left;
  border-radius: 5px;
  border: none;
  color: #222222;
  background-color: transparent;
  border: 0.1px solid grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.body__options li input[type=checkbox] {
  list-style-type: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #222222;
  border-radius: 3px;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.body__options li input[type=checkbox]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #222222;
  border-radius: 50%;
}

.body__options li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.body__options li label span {
  font-size: 1.125rem;
}

#result {
  padding: 16px;
}

/* Controls section */
.foot {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

#check-answer, #play-again {
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 30%;
  font-family: "Comfortaa";
  text-align: center;
  margin: 16px auto;
  padding: 5px 25px;
  background-color: white;
  border: 0.1px solid grey;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  #check-answer, #play-again {
    padding: 8px 30px;
  }
}

/* Footer section */
.footer {
  height: 30%;
  margin: 16px 0px;
}/*# sourceMappingURL=main.css.map */

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
