@use "../partials/reset" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;
@use "../partials/fonts" as *;

/* Global styles */
body {
  font-family: 'Comfortaa';
  background-image: linear-gradient(to bottom, #9370db, #c17dbf, #ffffff);
  color: $primary-colour;
}

/* Main section */
.main {
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: 2.5rem;
}

/* Hero section */
.trivia {
  margin: 16px;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  @include tablet{
    width: 50%;
  }
  @include desktop{
    width: 60%;
  }
}

.head {
  font-size: 1.125rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-colour; /* Assuming $primary-colour is defined elsewhere */
}

#correct-score {
  font-weight: 700;
}

.body__question {
text-align: center;
font-size: 18px;
padding: 16px;
}

.body__options{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__options li{
  font-family: 'Comfortaa';
  list-style-type: none;
  width: 70%;
  margin: 1rem 0rem;
  padding: 1.25rem;
  font-size: 1.125rem;
  text-align: left;
  border-radius: 5px;
  border: none;
  color: $primary-colour;
  background-color: transparent;
  border: 0.1px solid grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#result{
  padding: 16px;
}
/* Controls section */
.foot {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
}

#check-answer, #play-again {
  min-width: min-content;
  max-width: 30%;
  font-family: 'Comfortaa';
  text-align: center;
  margin: 16px auto;
  padding: 5px 25px;
  background-color: white;
  border: 0.1px solid grey;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  @include tablet{
    padding: 8px 30px;
  }
}

/* Footer section */
.footer {
  height: 30%;
  margin: 16px 0px;
}
